{% import 'macros.html' as my_macros %}

<html>
    <head>
        <meta charset="UTF-8">
        <title>dictionary data displayed</title>
    </head>

    <h2>working with macros</h2>

    <body>

        {{ my_macros.render_dict(movies) }}<br>

    </body>
</html>
